/*===========================
Google Fonts
===========================*/
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');



/*===========================
General Styles
===========================*/

body, html {
	background: #ecf0f1;
	color: #485460;
	font-family: 'Nunito', sans-serif;
	height: 100vh;
	min-height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 36px);
}

.flex {
	display: flex;
}

header > h1 {
	font-size: 2em;
	font-weight: 700;
}

footer {
	font-size: 1em;
	margin-top: 15px;
	text-align: center;
}



/*===========================
Score Panel Styles
===========================*/

.score-panel {
	align-items: center;
	font-size: 1em;
	justify-content: center;
	margin: 15px 0;
}

.score-panel > ul,
.score-panel > div {
	padding: 0 15px;
}

.fa-star {
	color: #f7b731;
}

.restart:hover {
	cursor: pointer;
}



/*===========================
Deck of Cards Styles
===========================*/

.deck {
	background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
	/*border-radius: 15px;*/
	border-radius: 10px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	/*padding: 15px;*/
	padding: 10px;
	/*height: 660px;
	width: 660px;*/
	height: 330px;
	width: 330px;
}

.card {
	align-items: center;
	background: #485460;
	/*border-radius: 15px;*/
	border-radius: 8px;
	box-shadow: 0px 5px 10px rgba(75,75,75,0.15);
	color: #485460;
	display: flex;
	/*font-size: 3em;*/
	font-size: 1.5em;
	/*flex: 1;*/
	justify-content: center;
	/*margin: 15px;*/
	margin: 10px;
	/*height: 135px;
	width: 135px;*/
	height: 60px;
	width: 60px;
}

.card:hover {
	cursor: pointer;
}

.open {
	background: #0abde3;
	color: #fff;
}

.unopen {
	background: #485460;
	color: #485460;
}

.card .fas .unopen {
	display: none;
}

.unmatched {
	background: #ff3838;
}

.matched {
	background: #0be881;
	color: #fff;
}

.disabled {
	pointer-events: none;
}



/*===========================
Congrats Popup Styles
===========================*/

.popup {
	align-items: center;
	background-color: #ecf0f1;
	border-radius: 10px;
	flex-direction: column;
	/*height: 400px;*/
	height: 300px;
	justify-content: center;
	line-height: 2em;
	position: absolute;
	/*width: 400px;*/
	width: 300px;
	z-index: 100;
	left: 0; 
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.overlay {
	background: #485460;
/*	align-items: center;
	flex-direction: column;
	justify-content: center;*/
	margin: 0 auto;
	min-height: calc(100vh + 36px);
	opacity: 0.7;
	position: absolute;
	width: 100%;
	z-index: 99;
}

.show {
	display: flex;
}

.hide {
	display: none;
}

.popup > h1 {
	font-size: 1.5em;
	font-weight: 700;
	margin-bottom: 0.75em;
}

.popup > input {
	background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(75,75,75,0.15);
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.25em;
    margin: 0 auto;
    margin-top: 25px;
    padding: 5px;
    width: 6em;
}

.popup > input:hover {
	opacity: 0.85;
}

.results {
	font-weight: 700;
}




/*===========================
Responsive Styles
===========================*/

@media screen and (min-width: 850px) {
	.deck {
		border-radius: 25px;
		height: 550px;
		padding: 20px;
		width: 550px;
	}

	.card {
		border-radius: 10px;
		font-size: 2.5em;
		margin: 10px;
		height: 110px;
		width: 110px;
	
	}

	.popup {
		border-radius: 25px;
		height: 400px;
		width: 400px;
	}
}

@media screen and (min-width: 1100px) {
	header > h1 {
		font-size: 2.5em;
	}

	.score-panel {
		font-size: 1.2em;
	}

	.deck {
		border-radius: 25px;
		padding: 15px;
		height: 660px;
		width: 660px;
	}

	.card {
		border-radius: 15px;
		font-size: 3em;
		margin: 15px;
		height: 135px;
		width: 135px;
	
	}
}



















